img{
    width: 1000px;
   height: 180px;
   
}
.form-control{
     
 border: none;

    background: none;
    color:white;
    font-size: 18px;
    width: 80%;
 
}
hr{
    height: 10px;
    background-color: rgb(247, 217, 239);
}
table{
   
    margin-left: 80px;
    text-align: center;
    
  
}

.form-check{
   padding-left: 70px;

}

td{
    margin-left: 30px;
}


